<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Home
        </h1>

<!--        {{#each posts}}-->
<!--        &lt;!&ndash; Blog Post &ndash;&gt;-->
<!--        <div class="card mb-4">-->
<!--            <img class="card-img-top" src="/uploads/{{file}}" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h2 class="card-title">{{title}}</h2>-->
<!--                <p class="card-text">{{body}}</p>-->
<!--                <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>-->
<!--            </div>-->
<!--            <div class="card-footer text-muted">-->
<!--                Posted on {{generateDate date 'MMMM DD, YYYY'}} by-->
<!--                <a href="#">{{user.firstName}} {{user.lastName}}</a>-->
<!--            </div>-->
<!--        </div>-->

<!--{{/each}}-->
        <!-- Pagination -->
<!--        <ul class="pagination justify-content-center mb-4">-->
<!--            {{#paginate current=current pages=pages}}-->

<!--            {{/paginate}}-->
<!--            &lt;!&ndash;<li class="page-item">&ndash;&gt;-->
<!--                &lt;!&ndash;<a class="page-link" href="#">&larr; Older</a>&ndash;&gt;-->
<!--            &lt;!&ndash;</li>&ndash;&gt;-->
<!--            &lt;!&ndash;<li class="page-item disabled">&ndash;&gt;-->
<!--                &lt;!&ndash;<a class="page-link" href="#">Newer &rarr;</a>&ndash;&gt;-->
<!--            &lt;!&ndash;</li>&ndash;&gt;-->
<!--        </ul>-->

    </div>

    <!-- Sidebar Widgets Column -->
  {{> home/sidebar}}

</div>
<!-- /.row -->