<h1>Update Store</h1>

<form action="/admin/stores/edit/{{store.id}}?_method=PUT" method="post" >
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" placeholder="Enter Name" value="{{store.name}}"
               required>
    </div>
    <div class="form-group">
        <label for="category">Category</label>

        <select name="category"  class="form-control">
            {{#select post.category}}
                {{#each categories}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input name="file" type="file" class="form-control" id="file">
    </div>
    <div class="form-group">
        <label for="status">Status</label>

        <select name="status" id="status" class="form-control">
            <!--<option value="public" {{#if post.status }}==="public" selected="selected" {{/if}} >Public</option>-->
            <!--<option value="private" {{#if post.status }}==="private" selected="selected"{{/if}} >Private</option>-->
            <!--<option value="draft" {{#if post.status }}==="draft" selected="selected"{{/if}} >Draft</option>-->
            {{#select post.status}}
                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="draft">Draft</option>
            {{/select}}
        </select>
    </div>
    <div class="form-check">
        <label for="allowComments" class="form-check-label">
            <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments" {{#if
                    post.allowComments}} checked="checked" {{/if}} >
            AllowComments
        </label>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter Description"
                  required>{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn-primary">Update Post</button>
</form>