<h1>
   ALL Stores
</h1>

<table class="table table-bordered">
<thead>
<tr>
    <th>Icon</th>
    <th>Name</th>
    <th>address</th>
    <th>isActive</th>
    <th>Date</th>
</tr>
</thead>

    <tbody>
    {{#each stores}}
    <tr>
        <td><img height="50" src="data:image/jpeg;base64,{{generateImage icon}}" alt =""></td>
        <td><a href="/admin/stores/edit/{{id}}">{{name}}</a></td>
        <td>{{address}}</td>
        <td>{{isActive}}</td>
        <td>{{generateDate date 'MMMM DD'}}</td>
        <td>
            <form action="/admin/stores/changeActive/{{id}}" method="post">
                <button type="submit"  {{#if isActive}} class="btn btn-danger" {{else}} class="btn btn-success" {{/if}}>
                {{#if isActive}} DeActivate {{else}}Activate{{/if}}</button>
            </form>
        </td>
        <td><a href="/admin/stores/edit/{{id}}" class="btn btn-info">View</a></td>
        <td>
            <form action="/admin/stores/{{id}}?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>