<h1>All Items</h1>
<table class="table table-bordered">
    <thead> 
        <tr>
            <th>Item</th>
            <th>UnitPrice</th>
            <th>IncPrice</th>
            <th>DecPrice</th>
            <th>TotalPrice</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoices}}
        <tr>
            <td>{{item}}</td>
            <td>{{netPrice}}</td>
            <td>{{incPrice}}</td>
            <td>{{decPrice}}</td>
            <td>{{totalPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>