<h1>All Invoices</h1>
<table class="table table-bordered">
    <thead> 
        <tr>
            <th>Status</th>
            <th>Store</th>
            <th>NetPrice</th>
            <th>IncPrice</th>
            <th>DecPrice</th>
            <th>TotalPrice</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoices}}
        <tr>
            <td><a href="/admin/invoices/edit/{{id}}">{{status}}</a></td>
            <td>{{store}}</td>
            <td>{{netPrice}}</td>
            <td>{{incPrice}}</td>
            <td>{{decPrice}}</td>
            <td>{{totalPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>